  <ion-content>
    <header>
      <ion-item id="toggle">
        <ion-icon slot="start" name="moon"></ion-icon>
        <ion-toggle (ionChange)="changeTheme($event)" id="themeToggle" ></ion-toggle>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-item>
      <ion-avatar>
        <ion-img style="width: auto; height: auto;" [src]="images.profile"></ion-img>
      </ion-avatar>
      <div style="margin-top: 0.5rem;" id="sobreMi">
        <h2 style="margin-top: 0;--color:var(--ion-text-color);">About Me</h2>
        <p style="margin-bottom: 0.25rem!important;">Soy Armand, programador Junior. Entre mis conocimientos destaca el Front & BackEnd Web Development. Mis metas actuales son AI, Android y Ciberseguridad entre otros.</p>
      </div>
    </header>
    <div id="grid">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-img [src]="images.html"></ion-img>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </ion-col>
          <ion-col>
            <ion-img [src]="images.css"></ion-img>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.js"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.angular"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.ionic"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.npm"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.firebase"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.json"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.java"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.aws"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.git"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.cc"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.cccc"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-img [src]="images.mongo"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 35%"></div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="justify-self: center;">
        <ion-img [src]="images.python"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 15%"></div>
        </div>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</div>
  <div id="info">
    <ion-grid id="studies">
      <ion-row><h2>Estudios:</h2></ion-row>
      <ion-row>
        <h5> <b>· BackEnd Bootcamp en BitNetmind Academy (2021-2021)</b></h5><br>
        <h6>Curso de 229h. trabajando con técnicas Agile, en el que aprenderemos SQL, NoSQL, MySQL, MongoDB, Java, Maven, Spring Boot, JUnit i UML</h6>
      </ion-row>
      <ion-row>
        <h5><b>· FrontEnd Bootcamp en BitNetmind Academy (2020-2021)</b><br></h5>
        <h6>Curso intensivo de tres meses, 490h trabajando con técnicas Agile, Trello, Git. Durante el curso he adquirido conocimientos tanto en HTML5 JS-ES6 CSS y Scss básicos y en frameworks como Ionic 5 y Angular10. Curso basado en aprendizaje autónomo.</h6>
      </ion-row>
      <ion-row>
        <h5><b>· Grado en Informatica UPC (2013-2018)</b><br></h5>
        <h6>Estudios pendientes de finalizacion, actualmente pausados. La cantidad de créditos obtenidos es equivalente a la suma de 2 años del grado.</h6>
      </ion-row>
      <ion-row>
        <h5 style="margin-bottom:1.6rem"><b>· Bachillerato Tecnologico (2011-2013)</b></h5>
      </ion-row>
    </ion-grid>

    <ion-grid class="others">
      <ion-row><h2>Experiencia: </h2></ion-row>
      <ion-row>
        <h5><b>· Desarrollador de aplicaciones multiplataforma en </b>Linucleus (2018-2019)</h5><br>
        <p>A cargo del desarrollo usando <b>C++</b> y <b>AWS IoT Framework</b></p>
        <h5><b>· Camarero/Pinche en bar/restaurante Cal Nen (2019-Actualidad)</b></h5>
        <p>Trabajo en equipo, toma de comandas, contacto con el cliente, organización.</p>
      </ion-row>

      <ion-row><h2>Soft Skills: </h2></ion-row>
      <ion-row><h6 class="soft">Proactivo</h6></ion-row>
      <ion-row><h6 class="soft">Mente Analitica</h6></ion-row>
      <ion-row><h6 class="soft">Sociable</h6></ion-row>
      <ion-row><h6 class="soft">Resolutivo</h6></ion-row>
      <ion-row><h6 class="soft">Flexible</h6></ion-row>

      <ion-row><h2>Idiomas: </h2></ion-row>
      <ion-row><h6 class="soft">Català: Natiu</h6></ion-row>
      <ion-row><h6 class="soft">Castellano: Nativo</h6></ion-row>
      <ion-row><h6 class="soft">Inglés: Nivel B2</h6></ion-row>

      <ion-row>
        <ion-col><h6 class="soft"><h4>Permiso: </h4>Tipo B con vehiculo propio.</h6></ion-col>
        <ion-col><h6 class="soft"><h4>Disponibilidad: </h4>Total e inmediata.</h6></ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <ion-footer>
    <div class="link">
      <a id="linked" href="https://www.linkedin.com/in/armand-carreras/"><img [src]="images.linked"></a>
      <label for="linked">armand_carreras</label>
  </div>
  <div class="link">
      <a id="git" href="https://github.com/armand-carreras?tab=repositories"><img [src]="images.github"></a>
      <label for="git">armand_carreras</label>
  </div>
 <div class="link">
      <a id="mail" href='mailto:armand.fn.fal@gmail.com'><img [src]="images.mail"></a>
      <label for="mail">armand.fn.fal@gmail.com</label>
 </div>
  </ion-footer>
</ion-content>

