<header>
  <ion-item id="toggle">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-toggle (ionChange)="changeTheme($event)" id="themeToggle" ></ion-toggle>
    <ion-icon slot="end" name="sunny"></ion-icon>
  </ion-item>
  <ion-avatar>
    <ion-img style="width: auto; height: auto;" [src]="images.profile"></ion-img>
  </ion-avatar>
  <div style="margin-top: 1rem;" id="sobreMi">
    <h2 style="--color:var(--ion-text-color);">About Me</h2>
    <p style="margin-bottom: 0.5rem!important;">Soy Armand, programador Junior. Entre mis conocimientos destaca el FrontEnd y BackEnd Web Development. Mis metas actuales son AI, Android y Ciberseguridad entre otros.</p>
  </div>
</header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img [src]="images.html"></ion-img>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
        </div>
      </ion-col>
      <ion-col>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

